<div class="modal-header">
	<button class="close" data-action="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 id="my-modal-label">Add Facebook App(s)</h4>
</div>
<div class="modal-body">
<% if(addedTabs.length > 0 ) { %>
	<div class="added-tabs">
		<h5>Added Tabs</h5>
		<div class="row">
			<div class="<%= cssClasses['COLUMN-12'] %>">
				<% 	addedTabs.each(function (tab) { %>
					<div class="<%= cssClasses['COLUMN-4'] %> pull-left app-block">
						<div class="media media-list media-border">
							<a href="javascript:void(0)" data-appId="<%=tab.get('app_id')%>" data-action="removeTab" class="media-action-icon" data-toggle="tooltip" data-placement="left" data-original-title="Delete App"><i class="icon-remove"></i></a>
							<a class="media-thumb media-thumb-small pull-left" href="javascript:void(0)"><img class="media-thumb-img media-thumb-img-small" src="<%=tab.get('thumbnail')%>"></a>
							<div class="media-body">
								<h3 class="media-title"><%=tab.get('title')%></h3>
							</div>
						</div>
					</div>
				<% }) %>	
			</div>
		</div>
	</div>
<% } %>

<% if(tabs.length > 0) { %>
	<div class="tabs-selection">
		<h5>Select tabs to add</h5>
		<div class="row">
			<div class="<%= cssClasses['COLUMN-12'] %>">
				<% _.each(tabs, function (tab) { %>
					<% var application = tab.application; %>
					<% if( addedTabs.where({'app_id': application.id}).length === 0 ) { %>
						<div class="<%= cssClasses['COLUMN-4'] %> pull-left">
							<div class="media media-list media-border cursor-pointer prog-tooltip" data-action="selectTab" data-appId="<%=application.id%>" data-toggle="tooltip" data-placement="bottom" data-original-title="<%=messages.clickToSelect %>">
								<a class="media-thumb media-thumb-small pull-left" href="javascript:void(0)"><img class="media-thumb-img media-thumb-img-small" src="<%=tab.image_url%>"></a>
								<div class="media-body">
									<h3 class="media-title"><%=application.name%></h3>
									<p><small> <% if(application.namespace) { %> <%=application.namespace%> <% } else { %> &nbsp; <% } %></small></p>
								</div>
							</div>
						</div>
					<% } %>
				<% }) %>
			</div>
		</div>
	</div>
	<div class="add-secret display-none"></div>
<% } else { %>
	<div class="alert"><%= messages.noApps %></div>
<% } %>
</div>
<div class="modal-footer">
	<button class="btn prev-btn display-none" data-action="prev">Previous</button>
	<button class="btn btn-primary next-btn" data-action="next">Next</button>
	<button class="btn btn-primary save-btn display-none" data-action="save" data-loading-text="Saving...">Save</button>
	<button class="btn" data-action="close" data-dismiss="modal" aria-hidden="true">Close</button>
</div>