<div class="modal-header">
	<button class="close" data-action="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 id="my-modal-label">Add Facebook App</h4>
</div>
<div class="modal-body">
	<form class="form">
		<div class="form-group">
		    <label class="control-label" for="app_id">Application Id</label>
		   	<input type="text" name="app_id" id="app_id" class="form-control" placeholder="Application Id">
		</div>
		<div class="form-group">
		    <label class="control-label" for="app_id">Application Secret</label>
		    <input type="text" name="app_secret" id="app_secret" class="form-control" placeholder="Application Secret">
		</div>   
    </form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary save-btn" data-action="save" data-loading-text="Saving...">Save</button>
	<button class="btn" data-action="close" data-dismiss="modal" aria-hidden="true">Close</button>
</div>