<div class="content-header">
	<!--<button class="btn btn-primary" data-action="manage">Manage Competitors</button>-->
	<div class="dropdown btn btn-primary">
	    <a class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="#">Manage Competitors <b class="caret"></b></a>
	    <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
	    	<li role="presentation" data-action="manageFacebookCompetitors"><a role="menuitem" tabindex="-1" href="javascript:void(0)">Facebook</a></li>
	    	<li role="presentation" data-action="manageTwitterCompetitors"><a role="menuitem" tabindex="-1" href="javascript:void(0)">Twitter</a></li>
	    </ul>
	</div>    
</div>
<div class="content-body">
	<div class="span12 no-apps"><div class="alert"><%= messages.noData %></div></div>
</div>