<div class="media account media-border">
    <span class="social-icon social-icon-small <%= network_type %>"></span>
    <a class="media-thumb media-thumb-large pull-left" href="#"><img class="media-thumb-img media-thumb-img-large" src=""></a>
    <div class="media-body">
      <h3 class="media-title"><%= object_id %></h3>
      <p>
        <small class="muted">
          
        </small>
      </p>

      <div class="media-option btn-group shaded-icon" data-id="<%= id %>">
        <button class="prog-tooltip" data-action="removeCompetitor" data-toggle="tooltip" data-placement="bottom" data-original-title="Remove"><i class="glyphicon glyphicon-remove"></i></button>
      </div>

    </div>
</div>
