<div class="modal-header">
	<button class="close" data-action="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 id="my-modal-label">Manage <%=network %> Competitors</h4>
</div>
<div class="modal-body">
	<form class="competitor-form form"></form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary save-btn" data-action="save" data-loading-text="Saving...">Save</button>
	<button class="btn" data-action="close" data-dismiss="modal" aria-hidden="true">Close</button>
</div>