iframe {
	border: 0;
}

#main-content {
	background-color: #eee;
	border-bottom: 1px solid #bbb;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	min-height: 600px;
	padding: 75px 20px;
}

/** Header Start **/
#header {
	font-size: 12px;
}

.navbar .brand  {
	padding: 5px 30px;
}

.header-settings-nav {
	background-color: #111111;
}

.header-settings-nav .header-welcome {
	color: #fff !important;
	text-decoration: none !important;
}

.header-settings-nav .caret {
	border-top: 6px solid #fff !important;
	margin-top: -2px !important;
	vertical-align: middle;
}
/** Header End **/

/** Start Sidebar **/
.sidebar-nav {
	background: #fff;
	border: 1px solid #ccc;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.sidebar-nav > li > a {
	background: #fafafa;
	background: -moz-linear-gradient(top,#fff 0,#fff 50%,#fafafa 51%,#fafafa 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(50%,#fff),color-stop(51%,#fafafa),color-stop(100%,#fafafa));
	background: -webkit-linear-gradient(top,#fff 0,#fff 50%,#fafafa 51%,#fafafa 100%);
	background: -o-linear-gradient(top,#fff 0,#fff 50%,#fafafa 51%,#fafafa 100%);
	background: -ms-linear-gradient(top,#fff 0,#fff 50%,#fafafa 51%,#fafafa 100%);
	background: linear-gradient(to bottom,#fff 0,#fff 50%,#fafafa 51%,#fafafa 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@topColor',endColorstr='@bottomColor',GradientType=0);
	color: #666;
	display: block;
	line-height: 20px;
	padding: 15px;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
}

.sidebar-nav> li > a:hover{
	background:#f5f5f5;
	background:-moz-linear-gradient(top,#fff 0,#fff 50%,#f5f5f5 51%,#f5f5f5 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(50%,#fff),color-stop(51%,#f5f5f5),color-stop(100%,#f5f5f5));
	background:-webkit-linear-gradient(top,#fff 0,#fff 50%,#f5f5f5 51%,#f5f5f5 100%);
	background:-o-linear-gradient(top,#fff 0,#fff 50%,#f5f5f5 51%,#f5f5f5 100%);
	background:-ms-linear-gradient(top,#fff 0,#fff 50%,#f5f5f5 51%,#f5f5f5 100%);
	background:linear-gradient(to bottom,#fff 0,#fff 50%,#f5f5f5 51%,#f5f5f5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='@topColor',endColorstr='@bottomColor',GradientType=0)
}

.sidebar-nav .menu-icon {
	border-right: 1px dotted #ccc;
	color: rgba(0,0,0,0.3);
	margin-right: 10px;
	padding-right: 10px;
	text-shadow: 0 0 1px #eee,0 0 0 #000,0 0 1px #fff;
}
/** End Sidebar **/

/** Start Content Wrapper **/
.content-wrapper {
	background-color: #fff;
}

.content-wrapper-inner {
	padding: 15px;
}

.modal-body .span4,
.modal-body .span4:first-child,
.content-body .span4, 
.content-body .span4:first-child {
	margin: 0 1.7% 0 0;
}

/** End Content Wrapper **/

/** Start Accounts Module **/
.content-header {
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
}

.content-body {
	clear: both;
	margin-top: 15px;
}

.content-body .span3 {
	margin-left: 20px;
}

.media {
	padding: 15px;
	position: relative;
}

.media.selected {
	background-color: #fcf8e3;
	border: 1px solid #fbeed5;
}

.media.account .social-icon {
	position: absolute;
	top: 5px;
}

.media .media-thumb {
	background: #f9f9f9;
	border: 1px solid #ccc;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.2) inset;
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.2) inset;
	box-shadow: 0 0 1px rgba(0,0,0,0.2) inset;
}

.media .media-thumb-large {
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	height: 100px;
	margin-right: 20px;
	width: 100px;
}

.media .media-thumb-small {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	height: 40px;
	margin-right: 10px;
	width: 40px;
}

.media-border,
.media.account:hover {
	background:#fafafa;
	border:1px solid #ddd;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:0 0 3px rgba(0,0,0,0.1) inset;
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.1) inset;
	box-shadow:0 0 3px rgba(0,0,0,0.1) inset;
	padding:14px
}

.media-border {
	margin-bottom: 10px;
}

.media.account:hover .social-icon {
	top: 4px;
}

.media-thumb-large img {
	-webkit-border-radius: 45px;
	-moz-border-radius: 45px;
	border-radius: 45px;
	height: 90px;
	margin: 5px;
	width: 90px;
}

.media-thumb-small img {
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	height: 36px;
	margin: 2px;
	width: 36px;
}

.media .media-title {
	font-size: 14px;
	line-height: 16px;
	margin: 15px 0 0;
}

.media-list .media-title {
	margin: 5px 0 0;
}

.media .media-action-icon {
	position: absolute;
	right: 5px;
	top: 5px;
}

/** End Accounts Module **/

#add-social-profile a {
	display: block;
	float: left;
	height: 200px;
	margin-left: 40px;
	width: 200px;
}

#add-social-profile a.facebook {
	background: url('../images/facebook_twitter_icons.png') no-repeat 0 0;
}

#add-social-profile a.twitter {
	background: url('../images/facebook_twitter_icons.png') no-repeat -200px 0;
}

.prog-notification {
	display: none;
	position: absolute;
	top: 60px;
	z-index: 99999;
}

.prog-notification .span2 {
	float: none;
	margin: 0 auto;
}

.prog-notification .alert {
	padding: 5px 25px 5px 5px;
}

/** Start Common Styles **/
.outer-shadow {
	border-bottom-color: #bbb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.2);
	box-shadow: 0 0 1px rgba(0,0,0,0.2);
}

.social-icon {
	display:block;
}

.social-icon-small {
	height:16px;
	width:16px;
}

.social-icon.twitter {
	background:url(../images/twitter-2.png);
}

.social-icon.Facebook {
	background:url(../images/facebook.png);
}

.cursor-pointer {
	cursor: pointer;
}
/** End Common Styles **/

/*** Overwriting Bootstrap Styles ***/
.modal-body {
	padding: 15px 15px 50px 15px;
}

.btn {
	border: none;
	box-shadow: none;
	text-shadow: none;
	padding: 8px 20px;
	border-radius: 3px;
}

.btn-primary a,
.btn-primary a:hover {
	color: #fff;
	text-decoration: none;
}

.btn-primary li {
	text-align: left;
}

/** Report Modules **/
.rm-container {
	border: 1px solid #bbb;
	border-bottom-width: medium;	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;  
}

.rm-half-width {
	margin: 1.5%;
	width: 47%;
}

.rm-heading {
	background: linear-gradient(rgb(255, 255, 255) 0px, rgb(238, 238, 238) 100%) repeat-x rgb(247, 247, 247);
	padding: 5px 10px;
	border-bottom: 1px solid #bbb;
}


