<div class="content-header">
	<button class="btn btn-primary pull-right" data-action="addSocialProfile">Add Social Account</button>
	<div class="<%= cssClasses['COLUMN-3'] %> pull-right">
		<form class="form-group">
			<div class="input-group">
				<input class="form-control" id="appendedInput" type="text" placeholder="Search">
				<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
			</div>
		</form>
	</div>
</div>
<div class="content-body clearboth pos-relative">
	<div class="<%= cssClasses['COLUMN-12'] %> no-accounts"><div class="alert alert-info"><%= messages.noAccounts %></div></div>
</div>