<div class="modal-header">
	<button class="close" data-action="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 id="my-modal-label" class="modal-title">Add Social Profile</h4>
</div>
<div class="modal-body" id="add-social-profile">
    <a class="prog-tooltip add-icon facebook" href="#" data-action="addFacebookAccount" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Add Facebook Account"></a>
    <a class="prog-tooltip add-icon twitter" href="#" data-action="addTwitterAccount" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Add Twitter Account"></a>
</div>
<div class="modal-footer">
	<button class="btn" data-action="close" data-dismiss="modal" aria-hidden="true">Close</button>
</div>
	

